/*give background image into jumbotron*/

.jumbotron-fluid{
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-position: center;
	height: 660px;
}

.nav-link:hover{
	color: red!important;
}

.heading-text{
	box-sizing: border-box;
	position: relative;
	top: 200px;
	font-family:'Lobster',"Sagoe Print";
	font-weight: bold;
	font-size: 6rem;
	color: #fff;
	text-shadow: 3px 4px 1px #000;
}

.button-cek-menu{
	position: relative;
	top: 250px;
	left:40%;
	width: 200px;
	font-family: 'Lobster','Sagoe Print';
	box-shadow: 3px 5px 5px #000;
}



/*main style*/

article h3{
	font-family: 'Lobster', cursive;
	text-transform: lowercase;
}

.nameText{
	font-family: 'Lobset',cursive;
	font-size:19px;
}

@media (max-width: 576px) { 
	.navbar{
		background: #343a40;
	}
	.heading-text{
		font-size:3rem;
		text-align:center;
	}

	.jumbotron-fluid{
		background-position: center;
		height: 450px;
	}

	.button-cek-menu{
		left: 25%;
		width: large;
	}
}
